{% extends 'base.html' %}

{% block main %}
<h2>Lista de Funcionários</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for employer in object_list %}
        <tr>
            <th scope="row">1</th>
            <td>
                <a href="{% url 'update_employer' employer.id %}">
                    {{employer.name}}
                </a>
            </td>
            <td>
                <a href="{% url 'create_employer' %}">novo</a>
            </td>
            <td>
                <a href="{% url 'delete_employer' employer.id %}">deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}