{% extends 'base.html' %}

{% block main %}
<h2>Lista de Departamentos</h2>
<br>
<a href="{% url 'create_departament' %}" class="btn btn-primary mb-5">Novo</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for departament in object_list %}
        <tr>
            <th scope="row">1</th>
            <td>
                <a href="{% url 'update_departament' departament.id %}">
                    {{departament}}
                </a>
            </td>
            <td>
                <a href="{% url 'delete_departament' departament.id %}">deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}